<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>18/11/12 14:18:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="aike.aike2()[pri:0, instance:studyautomation.aike@5c7fa833]">aike2</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/11/12 14:18:38</td>   <td>-19803</td> <td title="&gt;&gt;aike.beforetest()[pri:0, instance:studyautomation.aike@5c7fa833]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/11/12 14:19:01</td>   <td>2900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="aike.dike1()[pri:0, instance:studyautomation.aike@5c7fa833]">dike1</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/11/12 14:19:08</td>   <td>9825</td> <td>&nbsp;</td><td title="&lt;&lt;aike.dikeafterTest()[pri:0, instance:studyautomation.aike@5c7fa833]">&lt;&lt;dikeafterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@542060780</td>   <td></td> </tr>
</table>
