<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>18/11/12 17:06:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;car.carbeforetest()[pri:0, instance:studyautomation.car@55f3ddb1]">&gt;&gt;carbeforetest</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/11/12 17:07:27</td>   <td>28440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="car.car1()[pri:0, instance:studyautomation.car@55f3ddb1]">car1</td> 
  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/11/12 17:07:27</td>   <td>29132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;car.caraftertest()[pri:0, instance:studyautomation.car@55f3ddb1]">&lt;&lt;caraftertest</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/11/12 17:07:29</td>   <td>30941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;car.carbeforetest()[pri:0, instance:studyautomation.car@55f3ddb1]">&gt;&gt;carbeforetest</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/11/12 17:07:45</td>   <td>46936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="car.car2()[pri:0, instance:studyautomation.car@55f3ddb1]">car2</td> 
  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/11/12 17:07:46</td>   <td>47750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;car.caraftertest()[pri:0, instance:studyautomation.car@55f3ddb1]">&lt;&lt;caraftertest</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/11/12 17:07:47</td>   <td>48665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;aike.beforetest()[pri:0, instance:studyautomation.aike@8bd1b6a]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/11/12 17:08:04</td>   <td>65369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="aike.aike2()[pri:0, instance:studyautomation.aike@8bd1b6a]">aike2</td> 
  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/11/12 17:08:08</td>   <td>69186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;aike.beforetest()[pri:0, instance:studyautomation.aike@8bd1b6a]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td>  <td>main@1225439493</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>18/11/12 17:08:23</td>   <td>84557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="aike.dike1()[pri:0, instance:studyautomation.aike@8bd1b6a]">dike1</td> 
  <td>main@1225439493</td>   <td></td> </tr>
</table>
